<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
<% if (user) { %>
<h1>Welcome to the Recipe Hub, <%= user.username %>!</h1>
<p>People cook with inspiration, and great recipes start with what they see. Our Recipe Hub makes it easy to discover and try new dishes through beautiful, mouthwatering photos that guide your cooking journey step by step.</p>
<a href="/auth/sign-out">Sign out</a>
<a href="recipes/new">Add a Recipe</a>

<% } else { %>
<h1>Welcome to the Recipe Hub</h1>
<p>People cook with inspiration, and great recipes start with what they see. Our Recipe Hub makes it easy to discover and try new dishes through beautiful, mouthwatering photos that guide your cooking journey step by step.</p>
<p>
  <a href="/auth/sign-up">Sign up</a> or <a href="/auth/sign-in">sign in</a>.
</p>
<% } %>
</body>
</html>