<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>
    <%= title %>
  </title>
</head>

<body class="welcome-page">
  <% if (user) { %>
    <h1>Welcome to the Recipe Hub, <%= user.username %>!</h1>
    <p>People cook with inspiration, and great recipes start with what they see. Our <br> Recipe Hub makes it easy to
      discover and try new dishes through beautiful,<br> mouthwatering photos that guide your cooking journey step by
      step.</p>
    <div class="auth-buttons">
      <a href="/auth/sign-out"><button>Sign out</button></a> or <a href="/recipes"><button type="submit">Home</button></a>
    </div>
    
    <% } else { %>
      <h1>Welcome to the Recipe Hub</h1>
      <p>People cook with inspiration, and great recipes start with what they see. Our <br> Recipe Hub makes it easy
        to discover and try new dishes through beautiful,<br> mouthwatering photos that guide your cooking journey
        step by step.</p>
      <div class="auth-buttons">
        <a href="/auth/sign-up"><button type="submit">Sign up</button></a> or <a href="/auth/sign-in"><button type="submit">Sign in</button></a>
      </div>
      <% } %>
</body>

</html>