<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
</head>
<body>
    <h1>Recipes</h1>
    <% foundRecipes.forEach(recipe => { %>
    <img src="<% recipe.img %>" alt="Image of <%= recipe.title %>" >
    <a href="/recipes/<%= recipe._id %>"><h3><%= recipe.title %></h3></a>
    <% }) %>
    <a href="/recipes/new"><button>Add a Recipe</button></a>
</body>
</html>